<section class="splash">
  <div class=SplashTitleArea>
    <h1 id="SplashTitle">Enter the world of literature </h1>
  </div>
  <%= button_to "Create Account", new_user_url, method: :get, class:"hvr-shadow-radial", id:"SignUp"  %>
  <%= button_to "Sign In", new_session_url, method: :get, class:"hvr-shadow-radial", id:"login"%>



</section>
