/* line 4, /Users/austengee/Desktop/LitLives/app/assets/stylesheets/sessions.scss */
#NewSession {
  position: absolute;
  width: 100%;
  /* for IE 6 */
  background-image: url("BookByFire.jpg");
  background-size: cover;
  height: 1000px;
  border-radius: 10px;
}

/* line 12, /Users/austengee/Desktop/LitLives/app/assets/stylesheets/sessions.scss */
.session-title {
  text-align: center;
  text-size: 56;
  font-family: fantasy;
  color: blue;
  margin: 30px;
}
