/* line 4, /Users/austengee/Desktop/LitLives/app/assets/stylesheets/users.scss */
#NewUser {
  position: absolute;
  width: 100%;
  /* for IE 6 */
  background-image: url("BooksAtNight.jpg");
  background-size: cover;
  height: 1000px;
  border-radius: 10px;
  margin: 5px;
}

/* line 17, /Users/austengee/Desktop/LitLives/app/assets/stylesheets/users.scss */
.SignInForm {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  width: 300px;
  position: relative;
  top: 100px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

/* line 49, /Users/austengee/Desktop/LitLives/app/assets/stylesheets/users.scss */
.SignUpButton {
  float: right;
  margin: 10px;
  background-color: #4b341b;
  border: #4b341b;
}

/* line 55, /Users/austengee/Desktop/LitLives/app/assets/stylesheets/users.scss */
#FormFooter {
  font-size: 10px;
  text-align: center;
  font-style: normal;
  color: green;
  opacity: 1;
}

/* line 63, /Users/austengee/Desktop/LitLives/app/assets/stylesheets/users.scss */
.quote {
  font-style: italic;
  text-align: right;
  color: #ebd9c6;
  margin: 10px;
  padding: 10px;
}

/* line 70, /Users/austengee/Desktop/LitLives/app/assets/stylesheets/users.scss */
.saying {
  color: #ebd9c6;
  margin: 10px;
  padding: 10px;
  position: absolute;
  bottom: 50px;
}

/* line 77, /Users/austengee/Desktop/LitLives/app/assets/stylesheets/users.scss */
.FormLabel {
  float: left;
}

/* line 80, /Users/austengee/Desktop/LitLives/app/assets/stylesheets/users.scss */
.FormInput {
  float: right;
  width: 200px;
}
