
.book-main{
  display: flex;
  /*flex-direction: column;*/
}
.book-area{
  width: 66%;
  flex-direction: column;
}
.book-block{
  display: flex;
  flex-direction: row;
}
.book-column{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.user-area{
  width: 33%;
  text-align: center;
  padding: 20px;
  margin: 100px 20px 20px 20px;
}
.book-area{
  width: 66.67%;
}
#book-cover{
  padding:5px;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
  width: 50%;
  border-radius: 20%;
  margin-top: 100px;
}
#book-page-area{
  padding: 10px;
}
.review-container{
  text-align: center;
}
.note-area{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
.bookshelf{
  border-color: var(--d-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.bookshelf-list{
  width:90%;
  margin-left: 5%;
  border-style: solid;
  border-color: var(--d-color);
  border-width:2px;
  padding:5px;
}
.bookshelf-item{
  margin-top: 2px;
}
.bookshelf-item:hover{
  cursor: pointer;
}
