

.group:after {
  content: "";
  display: block;
  clear: both;
}
.loginMessage{
  text-align: center;
}
.Navbar {
  border-top: 1px solid var(--d-color);
  border-bottom: 1px solid var(--d-color);
  border-radius: 2px;
  margin-bottom: 5px;
  background-color:var(--d-color);
}
.nav-right {
  display: block;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 17px;
  text-align: center;
  color: var(--l-color);
  border-radius: 2px;
  z-index: 2;
}
.header-nav {
  margin: 0 auto;
  border-left: 1px solid #E0C8AE;
  border-right: 1px solid #E0C8AE;
  height: 50px;
}
.header-logo {
  float: left;
  border-right: 1px solid #E0C8AE;
  height: 50px;
  width: 50px;
  padding: 0px 10px;
  color: #E0C8AE;
  text-align: center;
}
.logo-image{
  font-size: 30px;
  background-image: url("http://res.cloudinary.com/litlitves/image/upload/v1461114377/books-icon_f26trs.png");
  background-size: cover;
  height:40px;
  width: 40px;
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.header-logo:hover {
  background: #E0C8AE;
  cursor: pointer;
  color:#261a0d;
  transition: 1s;
}
.header-list {
  float: right;
  padding: 0px;
  margin: 0px;
}
.header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}
.headerButton {
  float: right;
  height: 45px;
  width: 90px;
  color: #E0C8AE;
  background-color: #261a0d;
  border-color: #261a0d;
  position: absolute;
  top: 12px;
  right: 12px;
}
.headerButton:hover {
  background-color: #E0C8AE;
  color: #261a0d;
  transition: 1s;
}
.header-list > li:hover {
  cursor: pointer;
  color: #261a0d;
  background-color: #E0C8AE;
  transition: 1s;
}
.SignButton {
  width: 95%;
  height:auto;
}
.SignButton {
	-moz-box-shadow:inset 0px 1px 10px 5px #ffffff;
	-webkit-box-shadow:inset 0px 1px 10px 5px #ffffff;
	box-shadow:inset 0px 1px 10px 5px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.SignButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.SignButton:active {
	position:relative;
	top:1px;
}

.DividingOr {
  text-align: center;
  color: white;
}
.PasswordInputLabel{
  padding: 10px;
  position: absolute;
  margin-left: 100px;
}
.PasswordInput {
  width: 100%;
  height: 30px;
  margin: auto;
  border-radius:4px;
  font-size: 18px;
}
.UserNameLabel {
  float: left;
  padding: 10px;
  margin-left: 100px;
}
.userNameLabel{
  color: #e4cdb4;
  position: absolute;
  top: 22px;
  left: 100px;
}
.quote{
  position: absolute;
  top: 5px;
  left: 100px;
  padding: 10px;
  font-size: 16px;
  width: 40%;
  text-align: left;
  color: #e4cdb4;
  font-style: italic;
  z-index: 0;
}
@media(max-width: 800px){
  .quote{
    display: none;
  }
}
.UserNameInput{
  width: 100%;
  margin: auto;
  height:30px;
  border-radius: 4px;
  font-size: 18px;
}
.PasswordArea {
  width: 100%;
  position: relative;
  height: 50px;
}
.UserNameArea {
  width: 100%;
  position: relative;
  height: 50px;
}
.LoginButtonArea {
  position: relative;
  width: 100%;
  height: 200px;
}
