/*#Navbar {
  background-color: blue;
  width: 100%;
  height:30px;
}
#NavRight {
  float: right;
}
#NavSearch {
  float: left;

}
#NavDesk {
  float: left;
}
#Username {
  float: right;
}*/

.group:after {
  content: "";
  display: block;
  clear: both;
}
.loginMessage{
  text-align: center;
}


/* Basic resetting of defaults */

.Navbar {
  border-top: 1px solid #E0C8AE;
  border-bottom: 1px solid #E0C8AE;
  border-radius: 2px;
  margin-bottom: 5px; 
}

/*.header {
  background: #f00;
  color: #fff;
  border-bottom: 1px solid #E0C8AE;
}*/
.nav-right {
  display: block;
  height: 100%;
  /*margin: 10px 10px;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 17px;
  text-align: center;
  color: #E0C8AE;
  border-radius: 2px;

}


.header-nav {
  margin: 0 auto;
  /*width: 900px;*/
  border-left: 1px solid #E0C8AE;
  border-right: 1px solid #E0C8AE;
  height: 50px;
}

.header-logo {
  float: left;
  border-right: 1px solid #E0C8AE;
  height: 50px;
  width: 50px;
  padding: 0px 10px;
  color: #E0C8AE;
}

.header-logo:hover {
  background: #E0C8AE;
  cursor: pointer;
  color:#261a0d;
  transition: 1s;
}

.header-list {
  float: right;
  padding: 0px;
  margin: 0px;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;

}
.headerButton {
  float: right;
  height: 45px;
  width: 90px;
  color: #E0C8AE;
  background-color: #261a0d;
  border-color: #261a0d;
  position: absolute;
  top: 12px;
  right: 12px;
  /*margin-left: 100px;
  margin-right: 100px;*/


}

.headerButton:hover {
  background-color: #E0C8AE;
  color: #261a0d;
  transition: 1s;
}

.header-list > li:hover {
  cursor: pointer;
  color: #261a0d;
  background-color: #E0C8AE;
  transition: 1s;
}
.SignButton {
  width: 95%;
  height:auto;
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  /*padding: 10px; */

  /*margin: auto 10px;*/
  /*margin: 10px auto;*/


  /*left: 20px; */
}
.SignButton {
	-moz-box-shadow:inset 0px 1px 10px 5px #ffffff;
	-webkit-box-shadow:inset 0px 1px 10px 5px #ffffff;
	box-shadow:inset 0px 1px 10px 5px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.SignButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.SignButton:active {
	position:relative;
	top:1px;
}

.DividingOr {
  text-align: center;
  color: white;
}
.PasswordInputLabel{

  /*margin: 10px;*/
  padding: 10px;
  position: absolute;
  margin-left: 100px;
  /*top: 70px;*/
}
.PasswordInput {

  width: 100%;
  height: 30px;
  margin: auto;
  border-radius:4px;
  font-size: 18px;


}
.UserNameLabel {
  float: left;
  /*margin: 10px;*/
  padding: 10px;
  /*position: absolute;*/
  /*top: 10%;*/
  margin-left: 100px;

}
.UserNameInput{

  width: 100%;
  margin: auto;
  height:30px;
  border-radius: 4px;
  font-size: 18px;


}
.PasswordArea {
  width: 100%;
  position: relative;
  height: 50px;
}
.UserNameArea {
  width: 100%;
  position: relative;
  height: 50px;

}
.LoginButtonArea {
  position: relative;
  width: 100%;
  height: 200px;
}
