.search-results-list{
  background-color:rgba(40, 40, 40, 0.5);
  border-radius: 2px;
  padding: 10px;
}

.search-result-item{
  background-color: rgba(50, 50, 50, 1);
  margin:5px;
  color: #E0C8AE;
  border-radius: 2px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: space-around;
}
.search-result-item:hover{
  box-shadow: 0px 0px 5px 5px rgba(220,220,220,0.5);
  cursor: pointer;
}
.search-result-image{
  /*display: inline-block;*/
  height: 100px;
  margin: 10px;
}
.data-area{
  margin: 10px;
  display: flex;
  align-items: left;
  flex-direction: column;

}
.result-title{
  font-size: 24px;
}
.result-author{
  color: #e4cdb4;
}
.result-category{
 color: #e4cdb4;
}
