// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-image {
   position: absolute;
   width: 100%; /* for IE 6 */
   background-image: url('BookByFire.jpg');
   background-size: cover;
   height: 600px;
   border-radius: 10px;
}
.session-title {
  text-align: center;
  text-size: 56;
  font-family: fantasy;
  color: blue;
  margin: 30px;
}
