html, input {
  font-family: "Baskerville";
}

button {
  height: auto;
  width: auto;
}

body {
  background-color: #261a0d;
  /*margin: -10px; */
}

span{
  color: inherit;
  font-weight: inherit;
}

.logo{
  background-image: url("Drawing.png");
  background-size: cover;
  width: 45px;
  height: 40px;
}

.logo-corner{
  width: 50px;
  height: 50px;
}

.book-list{
  padding:0px;
  margin: 0px;
}

.logo:hover{
  cursor: pointer;
}

#bookTitle {
  left: 150px;
}

button{
  /*background-image: url("BookButton.jpg");*/
  /*height: 40px;*/
  /*background-size: cover;*/
  /*border: 5px;*/
  border-color: #e4cdb4;


}
button:hover{
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.InitialBooks {
  /*z-index: 9;*/
  margin: 4px;
  display: inline-block;
  /*vertical-align: middle;*/
  transition-duration: 0.3s;
  transition-property: transform;

}
.InitialBooks:hover,
.InitialBooks:focus,
.InitialBooks:active {
    transform: scale(1.1);
}



#username {
  float: left;
  position: absolute;
  top:  4px;
  left: 100px;
  color:#e4cdb4;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.search-result {
   top: 50px;
   left: 0;
   bottom: 0;
   position: fixed;
   overflow-y: scroll;
 }
 .SignButton {
   margin: 10px;
 }

 .RichEditor-root {
   background: #fff;
   border: 1px solid #ddd;
   font-family: 'Georgia', serif;
   font-size: 14px;
   padding: 15px;
   border-radius: 5px;
 }

 .RichEditor-editor {
   border-top: 1px solid #ddd;
   cursor: text;
   font-size: 16px;
   margin-top: 10px;
 }

 .RichEditor-editor .public-DraftEditorPlaceholder-root,
 .RichEditor-editor .public-DraftEditor-content {
   margin: 0 -15px -15px;
   padding: 15px;
 }

 .RichEditor-editor .public-DraftEditor-content {
   min-height: 100px;
 }

 .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
   display: none;
 }

 .RichEditor-editor .RichEditor-blockquote {
   border-left: 5px solid #eee;
   color: #666;
   font-family: 'Hoefler Text', 'Georgia', serif;
   font-style: italic;
   margin: 16px 0;
   padding: 10px 20px;
 }

 .RichEditor-editor .public-DraftStyleDefault-pre {
   background-color: rgba(0, 0, 0, 0.05);
   font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
   font-size: 16px;
   padding: 20px;
 }

 .RichEditor-controls {
   font-family: 'Helvetica', sans-serif;
   font-size: 14px;
   margin-bottom: 5px;
   user-select: none;
 }

 .RichEditor-styleButton {
   color: #999;
   cursor: pointer;
   margin-right: 16px;
   padding: 2px 0;
   display: inline-block;
 }

 .RichEditor-activeButton {
   color: #5890ff;
 }






/* * Copyright (c) 2012 Thibaut Courouble
 * Licensed under the MIT License
   ================================================== */
