.no-user{
  text-align: center;
  width: 100%;
  padding: 100px;
}
.user-user-shelf-area{
  width: 50%;
}
.bookshelf-title{
  width: 100%;
  font-size: 20px;
  padding: 3px;
}
.bookshelf-item{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px; 
  background-color: var(--d-color);
  color: var(--l-color);
}
